.site-footbar .container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.footbar-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footbar-left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.footbar-left-text p {
  font-size: 0.8em;
}
.footbar-left-text p strong {
  font-weight: 600;
  line-height: 1.8;
}
.footbar-left img {
  width: 50px;
  height: 40px;
  margin-bottom: 0.5em;
}
.footer-link-icon {
  padding: 0.4em;
}

@media (max-width: 500px) {
  .site-footbar .container {
    flex-direction: column;
    align-items: center;
  }
}
