.our-core-values {
  margin-bottom: 5em;
}
/* .our-core-values .header {
    margin: 1em;
  } */
ul li {
  margin-left: 3em;
}
ul li:last-child {
  margin-bottom: 1em;
}
.text-strong {
  padding: 0em;
  background-color: yellow;
}
