.home {
  margin-bottom: 3em;
}
.home .container {
  background-image: url("../../assets/site-background-img.jpg");
  background-size: cover;
  margin-top: 3em;
}
.background-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  color: #fff;
  font-size: xx-large;
  font-family: bold;
}
