.site-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2em;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img {
  width: 50px;
  height: 40px;
}
.logo p {
  padding: 0.5em;
  font-weight: 600;
  font-size: 1.5em;
}
.main-nav-links-container {
  display: flex;
  padding: 0.4em;
  font-weight: 600;
}
.main-menu-nav-link {
  padding: 0.6em;
  font-weight: 600;
  text-transform: uppercase;
  list-style: none;
}
.main-menu-nav-link:hover {
  border-bottom: 2px var(--primary-color) solid;
  background-color: #f4f4f4;
  transition: 0.5s;
  border-radius: 0.2em;
}
/* toggle button */
.toggle-button {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
  height: 21px;
  width: 30px;
  border: none;
  background: none;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #555;
  border-radius: 10px;
}
/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 250px;
  z-index: 100;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}
.mobile-menu-nav-links-container {
  margin-top: 100px;
  padding-right: 10px;
}
.mobile-menu-nav-link {
  list-style: none;
  padding: 0.5em;
  font-weight: 600;
}
/* media query */
@media (max-width: 680px) {
  .site-navbar .container {
    flex-direction: column;
  }
  .main-menu-nav-link {
    font-size: 0.8em;
  }
}
@media (max-width: 500px) {
  .site-navbar .container {
    flex-direction: row;
  }
  .toggle-button {
    display: flex;
  }
  .main-menu {
    display: none;
  }
  .mobile-menu.is-open {
    right: 0;
  }
  .mobile-menu-nav-link {
    border-bottom: none;
    background-color: #fff;
    transition: none;
    border-radius: none;
  }
}
