.join-us {
  margin-bottom: 5em;
}
.join-us-button {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}
.join-us-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  background-color: var(--primary-color);
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 600;
  color: #333;
  transition: 0.5 ease-in;
}
.join-us-button a:hover {
  background-color: var(--primary-color-dark);
  color: #fff;
}
.join-us p {
  padding: 1em;
}
.join-us-link a {
  text-decoration: underline;
}
