.our-team {
  margin-bottom: 5em;
}
.team-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.team-member img {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 1em;
}
.team-member p {
  font-size: small;
  text-align: center;
}
.team-member-description {
  padding-top: 0.8em;
}
@media (max-width: 640px) {
  .team-list-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .team-content-container {
    grid-template-columns: 1fr;
  }
}
