.our-team {
  margin-bottom: 5em;
}
.team-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-item img {
  height: 250px;
  width: 220px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 1.5em;
}
.team-item p {
  font-size: small;
  text-align: center;
}
.team-item .description {
  padding-top: 0.8em;
}
@media (max-width: 640px) {
  .team-content-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .team-content-container {
    grid-template-columns: 1fr;
  }
}
