* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: oklch(65.59% 0.118 181deg);
  --primary-color-dark: oklch(55.59% 0.118 181deg);
}

body {
  font-family: poppins, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
}

.header {
  font-size: 1.5em;
  font-weight: 500;
  padding: 1em;
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}
